

 <!DOCTYPE html>
 <html lang="vi">
 <head>
 <title>Báo Giáo dục và Thời đại Online</title>
 <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css">
 </head>
 <body >
 <div class="wrapper-page  cate-page "> 
 <div class="site-body"> 
  <div class="container">
 
 
  <div class="hot-events">
 <a class="title" href="https://giaoducthoidai.vn/dong-su-kien.html" title="Sự kiện">Sự kiện</a>
 <div class="slide-wrapper">
 </div>
 </div>
 
 <!-- để lick vào menu nào thì hiển thị tên menu đó -->
  <!-- <div class="cate-breadcrumb">
   <h1>
 <a class="cate-parent" href="https://giaoducthoidai.vn/giao-duc/" title="Giáo dục ">Giáo dục </a>
 </h1>

 </div> -->
 <div class="col-wrapper">
 <div class="main-col">
 <div class="item-primary content-col">
 
 
 
 <div class="wrapper" data-source="zone-highlight-17">
 <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/trinh-do-giao-vien-la-thach-thuc-lon-khi-trien-khai-giao-duc-stem-post602711.html" title="Trình độ giáo viên là thách thức lớn khi triển khai giáo dục STEM">
  <img src="https://photo-cms-giaoducthoidai.zadn.vn/700x393/Uploaded/2022/tmgtjq/2022_07_30/stem-tieu-hoc-1-678.jpg" alt="Giáo dục STEM giúp học sinh tiểu học phát triển phẩm chất và năng lực. Ảnh minh họa">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="602711">
 <a class="cms-link" href="https://giaoducthoidai.vn/trinh-do-giao-vien-la-thach-thuc-lon-khi-trien-khai-giao-duc-stem-post602711.html" title="Trình độ giáo viên là thách thức lớn khi triển khai giáo dục STEM">
 Trình độ giáo viên là thách thức lớn khi triển khai giáo dục STEM
  
 </a>
 </h2> 
 </article>
 
 </div>
 
  <div class="many-pack content-list" data-source="zone-timeline-17">
 
   <article class="story" data-id="603428">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/nha-truong-chu-dong-tu-van-sach-giao-khoa-de-phu-huynh-chon-dung-co-du-post603428.html" title="Nhà trường chủ động tư vấn sách giáo khoa để phụ huynh chọn đúng, có đủ">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/tmgtjq/2022_08_06/cung-ung-sgk-lop-10-anh-1-9386.jpg" alt="Học sinh tìm mua SGK lớp 10 mới tại TP Vinh, Nghệ An. ">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603428">
 <a class="cms-link" href="https://giaoducthoidai.vn/nha-truong-chu-dong-tu-van-sach-giao-khoa-de-phu-huynh-chon-dung-co-du-post603428.html" title="Nhà trường chủ động tư vấn sách giáo khoa để phụ huynh chọn đúng, có đủ">
 Nhà trường chủ động tư vấn sách giáo khoa để phụ huynh chọn đúng, có đủ
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T11:05:07+0700" data-time="1659845107">
  <span class="icon icon-clock"></span>
 07/08/2022 11:05
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ -&nbsp;Năm đầu tiên triển khai Chương trình GDPT 2018 đối với lớp 10, bởi vậy nhiều phụ huynh, học sinh còn bỡ ngỡ, lúng túng khi chọn sách giáo khoa (SGK) do cơ cấu môn học, lớp học thay đổi.
 </div>
 </article>
  <article class="story" data-id="603413">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/truong-hoc-my-buoc-sang-trang-thai-binh-thuong-moi-post603413.html" title="Trường học Mỹ bước sang trạng thái &apos;bình thường mới&apos;">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/mfnms/2022_08_06/16-2-1095.jpg" alt="Học sinh Mỹ đeo khẩu trang khi trở lại trường học.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603413">
 <a class="cms-link" href="https://giaoducthoidai.vn/truong-hoc-my-buoc-sang-trang-thai-binh-thuong-moi-post603413.html" title="Trường học Mỹ bước sang trạng thái &apos;bình thường mới&apos;">
 Trường học Mỹ bước sang trạng thái &apos;bình thường mới&apos;
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T08:05:54+0700" data-time="1659834354">
  <span class="icon icon-clock"></span>
 07/08/2022 08:05
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ - Đầu năm 2022, khoảng 75% trường học ở Mỹ yêu cầu học sinh, giáo viên đeo khẩu trang khi học trực tiếp, theo số liệu từ Trung tâm Thống kê Giáo dục quốc gia. Đến trước khi nghỉ hè, con số này giảm xuống 15%.
 </div>
 </article>
  <article class="story" data-id="603414">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/than-trong-voi-bay-diem-san-thap-post603414.html" title="Thận trọng với &apos;bẫy điểm sàn&apos; thấp">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/tmgtjq/2022_08_06/anh-1-171.jpg" alt="Học sinh tại ngày hội tư vấn tuyển sinh 2022. Ảnh: INT">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603414">
 <a class="cms-link" href="https://giaoducthoidai.vn/than-trong-voi-bay-diem-san-thap-post603414.html" title="Thận trọng với &apos;bẫy điểm sàn&apos; thấp">
 Thận trọng với &apos;bẫy điểm sàn&apos; thấp
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T06:15:40+0700" data-time="1659827740">
  <span class="icon icon-clock"></span>
 07/08/2022 06:15
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ -&nbsp;Tới thời điểm này phần lớn các trường đại học khu vực phía Nam đã công bố điểm sàn xét tuyển phương thức điểm thi THPT. So với năm trước, mức điểm sàn xét tuyển năm nay không nhiều biến động khi khá nhiều trường đưa ra ngưỡng 16 - 18 điểm. Chuyên gia tuyển sinh cảnh báo, thí sinh cần hết sức thận trọng.
 </div>
 </article>
 
  
 
  
  <article class="story" data-id="603423">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/tang-toc-tuyen-dung-giao-vien-post603423.html" title="Tăng tốc tuyển dụng giáo viên ">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/tmgtjq/2022_08_06/tang-toc-tuyen-dung-giao-vien-cho-nam-hoc-moi-2-253.jpg" alt="Quận Bình Tân hiện thiếu khoảng 380 giáo viên ở các môn học.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603423">
 <a class="cms-link" href="https://giaoducthoidai.vn/tang-toc-tuyen-dung-giao-vien-post603423.html" title="Tăng tốc tuyển dụng giáo viên ">
 Tăng tốc tuyển dụng giáo viên 
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-06T16:50:51+0700" data-time="1659779451">
  <span class="icon icon-clock"></span>
 06/08/2022 16:50
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ -&nbsp;Ngành Giáo dục TPHCM đang ráo riết tuyển dụng giáo viên để đáp ứng hoạt động dạy học vào năm học mới. Nhờ điều chỉnh trong công tác tổ chức tuyển dụng, TP đã thu hút được hàng nghìn ứng viên tham gia thi, xét tuyển.
 </div>
 </article>
  <article class="story" data-id="603437">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/hoi-nhap-quoc-te-tac-dong-den-viec-lua-chon-nganh-hoc-cua-thi-sinh-post603437.html" title="Hội nhập quốc tế tác động đến việc lựa chọn ngành học của thí sinh">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/zngujv/2022_08_06/lua-chon-nganh-dao-tao-ve-ngoai-ngu-de-don-dau-xu-huong-nghe-nghiep-trong-tuong-lai-2755.jpg" alt="Lựa chọn ngành đào tạo về ngoại ngữ để đón đầu xu hướng nghề nghiệp trong tương lai">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603437">
 <a class="cms-link" href="https://giaoducthoidai.vn/hoi-nhap-quoc-te-tac-dong-den-viec-lua-chon-nganh-hoc-cua-thi-sinh-post603437.html" title="Hội nhập quốc tế tác động đến việc lựa chọn ngành học của thí sinh">
 Hội nhập quốc tế tác động đến việc lựa chọn ngành học của thí sinh
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-06T16:03:58+0700" data-time="1659776638">
  <span class="icon icon-clock"></span>
 06/08/2022 16:03
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ - Ứng dụng nghề nghiệp đa dạng khiến cho ngành ngoại ngữ đang trở thành xu hướng "hot", chính vì thế ngành ngoại ngữ hay chương trình giảng dạy bằng ngoại ngữ&nbsp;tại các trường đại học đang được nhiều thí sinh lựa chọn đăng ký trong mùa tuyển sinh năm 2022.
 </div>
 </article>
  <article class="story" data-id="603445">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/ha-giang-thanh-lap-2-truong-pho-thong-dan-toc-noi-tru-thcs-va-thpt-post603445.html" title="Hà Giang thành lập 2 trường Phổ thông Dân tộc Nội trú THCS và THPT">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/twvo2299/2022_08_06/truong-thpt-noi-tru-dong-van-khang-trang-hien-dai-1644.jpg" alt="Hà Giang thành lập 2 trường Phổ thông Dân tộc Nội trú THCS và THPT">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603445">
 <a class="cms-link" href="https://giaoducthoidai.vn/ha-giang-thanh-lap-2-truong-pho-thong-dan-toc-noi-tru-thcs-va-thpt-post603445.html" title="Hà Giang thành lập 2 trường Phổ thông Dân tộc Nội trú THCS và THPT">
 Hà Giang thành lập 2 trường Phổ thông Dân tộc Nội trú THCS và THPT
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-06T14:37:37+0700" data-time="1659771457">
  <span class="icon icon-clock"></span>
 06/08/2022 14:37
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ - Hà Giang thành lập các trường Phổ thông Dân tộc Nội trú THCS và THPT ở một số huyện sẽ giúp cho học sinh tại địa phương được tới trường trong điều kiện tốt nhất về cơ sở vật chất, tạo nguồn lực có chất lượng ngay tại địa phương và cho tỉnh.
 </div>
 </article>
  
  <article class="story" data-id="603292">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/rong-co-hoi-khi-chon-nganh-nguoc-so-dong-post603292.html" title="Rộng cơ hội khi chọn ngành... ngược số đông">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/tmgtjq/2022_08_05/chon-nghe-nguoc-so-dong-1-5087.jpg" alt="Doanh nghiệp lĩnh vực nông nghiệp - chăn nuôi đến Trường ĐH Nông Lâm TPHCM để tuyển dụng ứng viên.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603292">
 <a class="cms-link" href="https://giaoducthoidai.vn/rong-co-hoi-khi-chon-nganh-nguoc-so-dong-post603292.html" title="Rộng cơ hội khi chọn ngành... ngược số đông">
 Rộng cơ hội khi chọn ngành... ngược số đông
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-06T06:10:50+0700" data-time="1659741050">
  <span class="icon icon-clock"></span>
 06/08/2022 06:10
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ -&nbsp;Chọn và học ngành gì để ra trường không phải đối mặt với thách thức tìm kiếm việc làm luôn là trăn trở và đắn đo của nhiều thí sinh.
 </div>
 </article>
 
 </div>
 <button type="button" class="load-more control__loadmore" data-page="1"
 data-zone="17" data-type="zone">Xem thêm
 </button>
 </div>
 <div class="item-secondary sidebar-middle">
 
 
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin tiêu điểm</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-focus-17">
    <article class="story">
 
 
        <figure class="story__thumb">
        
        <a href="https://giaoducthoidai.vn/bo-truong-nguyen-kim-son-dia-phuong-co-vai-tro-quyet-dinh-thanh-cong-doi-moi-giao-duc-post602548.html" title="Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục">
         <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/izhyf/2022_07_30/294243501-5680811211952672-7977757569405412404-n-3641.jpg" alt="Chủ trì buổi làm việc (từ phải sang trái ảnh): Bí thư Tỉnh ủy Tuyên Quang Chẩu Văn Lâm; Chủ nhiệm Ủy ban Văn hóa, Giáo dục của Quốc hội Nguyễn Đắc Vinh; Bộ trưởng Bộ Giáo dục và Đào tạo Nguyễn Kim Sơn; Bộ trưởng, Chủ nhiệm Ủy ban Dân tộc Hầu A Lềnh.">
        
        
        </a>
        </figure>
        
        
         <h2 class="story__heading" data-tracking="602548">
        <a class="cms-link" href="https://giaoducthoidai.vn/bo-truong-nguyen-kim-son-dia-phuong-co-vai-tro-quyet-dinh-thanh-cong-doi-moi-giao-duc-post602548.html" title="Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục">
        Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục
         <i class="icon icon-img"></i>
        </a>
        </h2> 
        </article>
  </div>
 </div>
 
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin nổi bật</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-highlight-17">
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/bo-truong-nguyen-kim-son-dia-phuong-co-vai-tro-quyet-dinh-thanh-cong-doi-moi-giao-duc-post602548.html" title="Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/izhyf/2022_07_30/294243501-5680811211952672-7977757569405412404-n-3641.jpg" alt="Chủ trì buổi làm việc (từ phải sang trái ảnh): Bí thư Tỉnh ủy Tuyên Quang Chẩu Văn Lâm; Chủ nhiệm Ủy ban Văn hóa, Giáo dục của Quốc hội Nguyễn Đắc Vinh; Bộ trưởng Bộ Giáo dục và Đào tạo Nguyễn Kim Sơn; Bộ trưởng, Chủ nhiệm Ủy ban Dân tộc Hầu A Lềnh.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="602548">
 <a class="cms-link" href="https://giaoducthoidai.vn/bo-truong-nguyen-kim-son-dia-phuong-co-vai-tro-quyet-dinh-thanh-cong-doi-moi-giao-duc-post602548.html" title="Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục">
 Bộ trưởng Nguyễn Kim Sơn: Địa phương có vai trò quyết định thành công đổi mới giáo dục
  <i class="icon icon-img"></i>
 </a>
 </h2> 
 </article>
  
  
  </div>
 </div>
 </div>
 </div>
 <div class="sub-col sidebar-right">
 
 </div>
 </div>
 
  <div class="cate-list">
 
    <a href="https://giaoducthoidai.vn/giao-duc/" title="Giáo dục ">Giáo dục </a>
 
    <a href="https://giaoducthoidai.vn/thoi-su/" title="Thời sự">Thời sự</a>
    
    <a href="https://giaoducthoidai.vn/phap-luat/" title="Trồng người">Trồng người</a>
    
    <a href="https://giaoducthoidai.vn/ket-noi/" title="Bốn phương">Bốn phương</a>
    <a href="https://giaoducthoidai.vn/video/" title="Văn hóa">Văn hóa</a>
    <a href="https://giaoducthoidai.vn/video/" title="Tinh hoa">Tinh hoa</a>
  </div>
 
 
 </div>
 </div>
 
  <footer class="page-footer">
 <div class="container">
 <div class="non-tab">
 <h2>
 <a href="https://giaoducthoidai.vn" class="logo-footer" title="Báo Giáo dục và Thời đại Online">Báo Giáo dục và Thời đại Online</a>
 </h2>
 <h3 class="title">
 BÁO GIÁO DỤC &amp; THỜI ĐẠI
 </h3>
 </div>
 <div class="item-priamry">
 <p class="bold">
 CƠ QUAN CỦA BỘ GIÁO DỤC VÀ ĐÀO TẠO - DIỄN ĐÀN TOÀN XÃ HỘI VÌ SỰ NGHIỆP GIÁO DỤC
 </p>
 <p>Cơ quan chủ quản: BỘ GIÁO DỤC VÀ ĐÀO TẠO</p>
 <p>
 Số giấy phép 479/GP-BTTTT, cấp ngày 29/10/2020, ISSN 1859-2945.
 </p>
 <p>
 Tổng Biên tập: Triệu Ngọc Lâm.
 </p>
 <p>
 Phó Tổng Biên tập: Dương Thanh Hương
 </p>
 <p>
 ® Ghi rõ nguồn “Báo Giáo dục &amp; Thời đại” khi phát hành lại thông tin từ website.
 </p>
 </div>
 <div class="item-secondary">
 <h3 class="title bold">
 TRỤ SỞ CHÍNH
 </h3>
 <div class="contact">
 Tòa soạn: 15 - Hai Bà Trưng - Q.Hoàn Kiếm - Hà Nội.<br>
 Điện thoại: <a href="tel:+842439369800">024 3936 9800</a> <br>
 Email : <a href="mailto:gdtddientu@gmail.com">gdtddientu@gmail.com</a></div>
 <h3 class="title bold">
 LIÊN HỆ QUẢNG CÁO, TRUYỀN THÔNG VÀ ĐẶT BÁO
 </h3>
 <p>Phòng Truyền thông và Dự án</p>
 <p class="phone">
 Hotline: <a href="tel:+842439365230">024 393 65230</a> - <a href="tel:+842439348327">024 393 48327</a> - <a href="tel:+84903297580">090 329 7580</a>
 </p>
 </div>
 </div>
 </footer>
  
 </div>
 </body>
 </html>