<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Báo giáo dục thời đại</title> -->
  
  <link rel="stylesheet" href="header.component.css">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
  <!-- <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css"> -->

<!-- </head> -->
<!-- <body> -->
  <div class="wrapper-page section-homepage">
    <header class="page-header">
      <div class="top-info">
      <div class="container">
        <div class="phone">
          <span class="icon icon-phone"></span>
          "Đường dây nóng: "
          <strong>096.733.5089</strong>
        </div>
        <div class="email">
          <span class="icon icon-email"></span>
          "Email: "
          <a href="mailto:gdtddientu@gmail.com"> gdtddientu@gmail.com</a>
        </div>
      </div>
      </div>
      <div class="container header-primary">
        <h1>
          <a href="https://giaoducthoidai.vn" class="logo" title="Báo Giáo dục và Thời đại Online">Báo Giáo dục và Thời đại Online</a>
        </h1>

        <div id="adsWeb_AdsHeader" class="banner clearfix" data-platform="1" data-position="Web_AdsHeader">
          <script>
            if(typeof Web_AdsHeader != 'undefined'){window.CMS_BANNER.pushAds(Web_AdsHeader, 'adsWeb_AdsHeader');}else{document.getElementById('adsWeb_AdsHeader').style.display = "none";}
          </script>
          <div id="Web_AdsHeader_0" align="center" class="banner_show" rel="9" tag="Web: Hướng tới 40 năm ngày Nhà giáo Việt Nam"><a rel="noopener" href="https://giaoducthoidai.vn/chu-de/huong-toi-40-nam-ngay-nha-giao-viet-nam-103.html" target="_blank"><img class=" lazyloaded" src="https://photo-cms-giaoducthoidai.zadn.vn/Uploaded/2022/lwpaljo/2022_06_13/banner-6-2046.png" data-src="https://photo-cms-giaoducthoidai.zadn.vn/Uploaded/2022/lwpaljo/2022_06_13/banner-6-2046.png" border="0" alt="Web: Hướng tới 40 năm ngày Nhà giáo Việt Nam" height="70"></a></div>
        </div>
        <div class="search-head">
          <input type="text" class="form-control txtsearch">
          <span class="icon icon-search btn_search"></span>
        </div>
      </div>

      
      <div class="header-secondary">
        <div class="container">


          <ul class="menu">
            <li class="menu-item home">
              <a href="https://giaoducthoidai.vn" class="menu-link active" title="Trang chủ">
              </a>
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/giao-duc/" title="Thời sự">Thời sự </a>
               <ul class="sub-menu">
                <li class="sub-item">
                <a href="https://giaoducthoidai.vn/chinh-sach/" title="Chính sách">
                    Chính sách</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/dia-phuong/" title="Địa phương">Địa phương</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/tuyen-sinh-du-hoc/" title="Đào tạo - Tuyển sinh">Đào tạo - Tuyển sinh</a>
                </li>
                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/giao-duc-bon-phuong/" title="Bốn phương">Bốn phương</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/chuyen-dong/" title="Chuyển động">Chuyển động</a>
                </li>
              </ul> 
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/thoi-su/" title="Giáo dục">Giáo dục</a>
               <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/chinh-tri/" title="Chính trị">Chính trị</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/kinh-te-xa-hoi/" title="Kinh tế - Xã hội">Kinh tế - Xã hội</a>
                </li>
              </ul> -->
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/phap-luat/" title="Trồng người">Trồng người</a>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/an-ninh/" title="An ninh">An ninh</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/phap-dinh/" title="Pháp đình">Pháp đình</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/goc-nhin/" title="Bạn đọc - Điều tra">Bạn đọc - Điều tra</a>
                </li>
              </ul> -->
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/ket-noi/" title="Bốn phương">Bốn phương</a>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/cong-doan/" title="Công đoàn">Công đoàn</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/sang-tac/" title="Sáng tác">Sáng tác</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/dong-hanh/" title="Đồng hành">Đồng hành</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/khoa-hoc/" title="Khoa học - Công nghệ">Khoa học - Công nghệ</a>
                </li>
              </ul> -->
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/trao-doi/" title="Trao đổi">Sức khỏe</a>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/phuong-phap/" title="Phương pháp">Phương pháp</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/goc-chuyen-gia/" title="Góc chuyên gia">Góc chuyên gia</a>
                </li>
              </ul>  -->
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/hoc-duong/" title="Văn hóa">Văn hóa</a>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/ky-nang-song/" title="Kỹ năng">Kỹ năng</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/du-hoc/" title="Du học">Du học</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/guong-mat/" title="Gương mặt">Gương mặt</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/the-chat/" title="Thể chất">Thể chất</a>
                </li>
              </ul> -->
         </li>
            <li class="menu-item">
              <a class="menu-link" href="https://giaoducthoidai.vn/nhan-ai/" title="Tinh hoa">Tinh hoa</a>

            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/the-gioi/" title="Giáo dục liêm chính">Giáo dục liêm chính</a>             
            </li>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/the-gioi-do-day/" title="Thế giới đó đây">Thế giới đó đây</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/chuyen-la/" title="Chuyện lạ">Chuyện lạ</a>
                </li>
              </ul> -->
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/suc-khoe/" title="Video">Video</a>
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/khoe-dep/" title="Khoẻ đẹp">Khoẻ đẹp</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/gia-dinh/" title="Gia đình">Gia đình</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/day-lui-covid/" title="Đẩy lùi Covid-19">Đẩy lùi Covid-19</a>
                </li>
              </ul> -->
            <!-- </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/video/" title="Media">Media</a> -->
               <!-- <ul class="sub-menu">

                 <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/cong-dong-mang/" title="Cộng đồng mạng">Cộng đồng mạng</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/247-nong/" title="Nóng 247">Nóng 247</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/tieu-diem/" title="Tiêu điểm">Tiêu điểm</a>
                </li>
              </ul> -->
            <!-- </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/van-hoa/" title="Văn hóa">Văn hóa</a>  -->
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/doi-song-van-hoa/" title="Đời sống văn hoá">Đời sống văn hoá</a>
                </li>

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/the-gioi-sao/" title="Sao">Sao</a>
                </li>
              </ul> -->
             <!-- </li>

            <li class="menu-item has-sub">
              <a class="menu-link" href="https://giaoducthoidai.vn/the-thao/" title="Thể thao">Thể thao</a> -->
              <!-- <ul class="sub-menu">

                <li class="sub-item">
                  <a href="https://giaoducthoidai.vn/the-thao-hoc-duong/" title="Thể thao học đường">Thể thao học đường</a>
                </li>
              </ul> -->
        </li>
          </ul>
        </div>
      </div>

    </header>

  </div>
<!-- 
</body>
</html> -->

