<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Báo giáo dục thời đại</title> -->
  
  <link rel="stylesheet" href="header.component.css">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
  <!-- <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css"> -->

<!-- </head> -->
<!-- <body> -->
  <div class="wrapper-page section-homepage">
    <header class="page-header">
      <div class="top-info">
      <div class="container">
        <div class="phone">
          <span class="icon icon-phone"></span>
          "Đường dây nóng: "
          <strong>096.733.5089</strong>
        </div>
        <div class="email">
          <span class="icon icon-email"></span>
          "Email: "
          <a href="mailto:gdtddientu@gmail.com"> gdtddientu@gmail.com</a>
        </div>
      </div>
      </div>
      <div class="container header-primary">
        <h1>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/']" class="menu-link" class="logo" title="Báo Giáo dục và Thời đại Online">Báo Giáo dục và Thời đại Online</a>
        </h1>

        <div id="adsWeb_AdsHeader" class="banner clearfix" data-platform="1" data-position="Web_AdsHeader">
          <script>
            if(typeof Web_AdsHeader != 'undefined'){window.CMS_BANNER.pushAds(Web_AdsHeader, 'adsWeb_AdsHeader');}else{document.getElementById('adsWeb_AdsHeader').style.display = "none";}
          </script>
          <div id="Web_AdsHeader_0" align="center" class="banner_show" rel="9" tag="Web: Hướng tới 40 năm ngày Nhà giáo Việt Nam"><img class=" lazyloaded" src="https://photo-cms-giaoducthoidai.zadn.vn/Uploaded/2022/lwpaljo/2022_06_13/banner-6-2046.png" data-src="https://photo-cms-giaoducthoidai.zadn.vn/Uploaded/2022/lwpaljo/2022_06_13/banner-6-2046.png" border="0" alt="Web: Hướng tới 40 năm ngày Nhà giáo Việt Nam" height="70"></div>
        </div>

        <!--Search -->
        <div class="search-head">
          <input type="text" class="form-control txtsearch" name="keyword" [(ngModel)]="keyword" placeholder="Tìm kiếm...">
          <span class="icon icon-search btn_search" (click)="view2()"></span>
        </div>
      </div>

      
      <div class="header-secondary">
        <div class="container">


          <ul class="menu">
            <li class="menu-item home">
              <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/']" class="menu-link" title="Trang chủ"></a>
            </li>

             <li class="menu-item has-sub">
              <a class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Thời sự']" title="Thời sự"(click)="setActive('Thời sự')">
              Thời sự
            </a>   
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Giáo dục']" title="Giáo dục"(click)="setActive('Giáo dục')">Giáo dục</a>
         
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Trồng người']" title="Trồng người"(click)="setActive('Trồng người')">Trồng người</a>
           
            </li>

            <li class="menu-item has-sub">
              <a class="menu-link"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Bốn phương']" title="Bốn phương"(click)="setActive('Bốn phương')">Bốn phương</a>
            
            </li>

        

            <li class="menu-item has-sub">
              <a class="menu-link"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Văn hóa']" title="Văn hóa"(click)="setActive('Văn hóa')">Văn hóa</a>
           
             </li>

            <li class="menu-item">
              <a class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Tinh hoa']" title="Tinh hoa"(click)="setActive('Tinh hoa')">Tinh hoa</a>

            </li>

            <li class="menu-item has-sub">
              <a class="menu-link"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/bodybymenu/Giáo dục liêm chính']" title="Giáo dục liêm chính"(click)="setActive('Giáo dục liêm chính')">Giáo dục liêm chính</a>
             
            </li>

        
          </ul>
        </div>
      </div>

    </header>

  </div>
<!-- 
</body>
</html> -->

