

 <!DOCTYPE html>
 <html lang="vi">
 <head>
 
 <title>Báo Giáo dục và Thời đại Online</title>


 <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css">
 </head>
 <body >
    <app-header></app-header>
 <div class="wrapper-page  article-page"> 
 
  
 <div class="site-body"> 
  
 
 <div class="container">
 
 
 <div class="col-wrapper">
 <div class="main-col content-col">
 
  <div class="hot-events">
 <a class="title" href="" title="Sự kiện">Sự kiện</a>
 <div class="slide-wrapper">
 </div>
 </div>
 
 
  
 
 <div class="article">
 
  
 <h1 class="article__title cms-title">
  {{title}}
 </h1>
 <div class="article__meta">
 
   <div class="author cms-author">
      {{author}}
     
       </div>
      
 
 <time class="time" datetime="2022-08-07T19:29:38+0700" data-time="1659875378" data-gmt="true">{{day}}</time>
 <meta class="cms-date" itemprop="datePublished" content="2022-08-07T19:29:38+0700">
 </div>
 
  <!--dong nay de hien thi noi dung-->
 <div [innerHTML]="htmlStr"></div>
 <!-- <div>{{ htmlStr }}</div> -->
 
 <div class="many-pack">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a title="Kết nối" class="heading">
 Không thể bỏ lỡ
 </a>
 </h3>
 </div>
 <div class="box-content content-list" data-source="recommendation-2">
  <article class="story" *ngFor="let item of dataTinhHoa;let h =index">
 
 
 <figure class="story__thumb" *ngIf="h<3">
 
 <a (click)="view2(item.title,item.content,item.day,item.author)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603534" *ngIf="h<3">
 <a (click)="view2(item.title,item.content,item.day,item.author)" class="cms-link"  title="{{item.title}}">
   {{item.title}}
  <i class="icon icon-img"></i>
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T22:34:37+0700" data-time="1659886477"*ngIf="h<3">
  <span class="icon icon-clock"></span>
  {{item.day}}
 </time>
 
 
  <div class="story__summary story__shorten"*ngIf="h<3">
   {{item.description}}
 </div>
 </article>
  </div>
 </div>
 </div>
 </div>
 <div class="sub-col sidebar-right">
 <div id="sidebar-top-1">
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin tiêu điểm</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-focus-2">
  <article class="story"*ngFor="let item of dataGiaoDuc;let h =index">
 
 
 <figure class="story__thumb" *ngIf="h<5">
 
 <a (click)="view2(item.title,item.content,item.day,item.author)" title=" ">
  <img class="lazyload" src="{{item.image}}"  alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="592075"*ngIf="h<5">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day,item.author)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h2> 
 </article>
  </div>
 </div>

 
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin nổi bật</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-highlight-2">
  <article class="story"*ngFor="let item of dataBonPhuong;let h =index">
 
 
 <figure class="story__thumb"*ngIf="h<5">
 
 <a (click)="view2(item.title,item.content,item.day,item.author)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}"  alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="591733"*ngIf="h<5">
 <a class="cms-link"  title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h2> 
 </article>

  </div>
 </div>
 
 </div>
 </div>
 </div>
 
 
 </div>
 </div>
 <app-footer></app-footer>
 </div>
 

 </body>
 </html>
