

 <!DOCTYPE html>
 <html lang="vi">
 <head>
 
 <title>Báo Giáo dục và Thời đại Online</title>


 <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css">
 </head>
 <body >
    <app-header></app-header>
 <div class="wrapper-page  article-page"> 
 
  
 <div class="site-body"> 
  
 
 <div class="container">
 
 
 <div class="col-wrapper">
 <div class="main-col content-col">
 
  <div class="hot-events">
 <a class="title" href="" title="Sự kiện">Sự kiện</a>
 <div class="slide-wrapper">
 </div>
 </div>
 
 
  
 
 <div class="article">
 
  
 <h1 class="article__title cms-title">
  {{title}}
 </h1>
 <div class="article__meta">
 
 
 
 <time class="time" datetime="2022-08-07T19:29:38+0700" data-time="1659875378" data-gmt="true">{{day}}</time>
 <meta class="cms-date" itemprop="datePublished" content="2022-08-07T19:29:38+0700">
 </div>
 
  <!--dong nay de hien thi noi dung-->
 <div [innerHTML]="htmlStr"></div>
 <!-- <div>{{ htmlStr }}</div> -->
 

 

 
 
 
 

 
  
 
 <!-- <div class="many-pack">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a href="https://giaoducthoidai.vn/ket-noi/" title="Kết nối" class="heading">
 Không thể bỏ lỡ
 </a>
 </h3>
 </div>
 <div class="box-content content-list" data-source="recommendation-2">
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/hue-trao-bang-cho-gan-600-cu-nhan-thac-si-va-tien-si-ve-kinh-te-post603534.html" title="Huế: Trao bằng cho gần 600 cử nhân, thạc sĩ và tiến sĩ về kinh tế">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/qnvqhbat-tqgq/2022_08_07/5-627.jpg" alt="Các tân thạc sĩ, tiến sĩ trong lễ phát bằng tại trường Đại học Kinh tế, Đại học Huế.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603534">
 <a class="cms-link" href="https://giaoducthoidai.vn/hue-trao-bang-cho-gan-600-cu-nhan-thac-si-va-tien-si-ve-kinh-te-post603534.html" title="Huế: Trao bằng cho gần 600 cử nhân, thạc sĩ và tiến sĩ về kinh tế">
 Huế: Trao bằng cho gần 600 cử nhân, thạc sĩ và tiến sĩ về kinh tế
  <i class="icon icon-img"></i>
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T22:34:37+0700" data-time="1659886477">
  <span class="icon icon-clock"></span>
 07/08/2022 22:34
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ -&nbsp;Hơn 500 cử nhân và gần 100 tiến sĩ, thạc sĩ khối kinh tế học tại trường Đại học Kinh tế, Đại học Huế đã được nhận bằng vào chiều 7/8.
 </div>
 </article>
  
 
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/an-tuong-giai-bong-da-7-nguoi-vo-dich-toan-quoc-khu-vuc-tay-nguyen-post603528.html" title="Ấn tượng giải bóng đá 7 người vô địch toàn quốc khu vực Tây Nguyên">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/ifysa/2022_08_07/1-99.jpg" alt="Đội Xổ số kiến thiết Đắk Lắk đoạt Cup vô địch giải đấu.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603528">
 <a class="cms-link" href="https://giaoducthoidai.vn/an-tuong-giai-bong-da-7-nguoi-vo-dich-toan-quoc-khu-vuc-tay-nguyen-post603528.html" title="Ấn tượng giải bóng đá 7 người vô địch toàn quốc khu vực Tây Nguyên">
 Ấn tượng giải bóng đá 7 người vô địch toàn quốc khu vực Tây Nguyên
  <i class="icon icon-img"></i>
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T16:42:08+0700" data-time="1659865328">
  <span class="icon icon-clock"></span>
 07/08/2022 16:42
 </time>
 
 
  <div class="story__summary story__shorten">
 <u></u>GD&amp;TĐ - Sau hơn 1 tháng tranh tài sôi nổi, giải bóng đá 7 người vô địch toàn quốc - Bia Saigon Cup 2022 khu vực Tây Nguyên đã khép lại vào chiều 7/8 với nhiều ấn tượng sâu đậm trong lòng người dân nơi đây.
 </div>
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/quang-binh-xu-phat-gan-1-000-truong-hop-vi-pham-giao-thong-dot-cao-diem-post603523.html" title="Quảng Bình: Xử phạt gần 1.000 trường hợp vi phạm giao thông đợt cao điểm">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/ahpkhun/2022_06_27/anh-csgt-1-2385.jpg" alt="Lực lượng CSGT Quảng Bình xử lý các phương tiện vi phạm giao thông.">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603523">
 <a class="cms-link" href="https://giaoducthoidai.vn/quang-binh-xu-phat-gan-1-000-truong-hop-vi-pham-giao-thong-dot-cao-diem-post603523.html" title="Quảng Bình: Xử phạt gần 1.000 trường hợp vi phạm giao thông đợt cao điểm">
 Quảng Bình: Xử phạt gần 1.000 trường hợp vi phạm giao thông đợt cao điểm
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T16:40:50+0700" data-time="1659865250">
  <span class="icon icon-clock"></span>
 07/08/2022 16:40
 </time>
 
 
  <div class="story__summary story__shorten">
 <s></s>GD&amp;TĐ -&nbsp;Ngày 7/8, Phòng Cảnh sát giao thông (CSGT) Công an tỉnh Quảng Bình cho biết, trong hơn 1 tháng cao điểm kiểm tra, Phòng CSGT đã phát hiện, xử lý gần 1.000 trường hợp vi phạm; xử phạt hành chính hơn 5,2 tỷ đồng.
 </div>
 </article>

  </div>
 <button type="button" class="load-more control__loadmore" data-page="1" data-zone="2" data-type="zone">Xem thêm</button>
 </div>-->
 </div>
 </div>
 <!-- <div class="sub-col sidebar-right">
 <div id="sidebar-top-1">
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin tiêu điểm</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-focus-2">
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/ket-thuc-mon-thi-dau-tien-khong-ghi-nhan-can-bo-thi-sinh-vi-pham-quy-che-post592075.html" title="Kết thúc môn thi đầu tiên: Không ghi nhận cán bộ, thí sinh vi phạm quy chế ">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/yzjui/2022-06-18/8.jpg" alt="Thí sinh kết thúc bài thi đầu tiên là Ngữ văn trong sáng 18/6.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="592075">
 <a class="cms-link" href="https://giaoducthoidai.vn/ket-thuc-mon-thi-dau-tien-khong-ghi-nhan-can-bo-thi-sinh-vi-pham-quy-che-post592075.html" title="Kết thúc môn thi đầu tiên: Không ghi nhận cán bộ, thí sinh vi phạm quy chế ">
 Kết thúc môn thi đầu tiên: Không ghi nhận cán bộ, thí sinh vi phạm quy chế 
  
 </a>
 </h2> 
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/de-toan-thi-vao-lop-10-thpt-o-thanh-hoa-duoc-phan-hoa-ro-tu-diem-6-tro-len-post571418.html" title="Đề Toán thi vào lớp 10 THPT ở Thanh Hóa được phân hóa rõ từ điểm 6 trở lên">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/sbvunua/2022-06-18/1dd2b74f0410c74e9e01.jpg" alt="Thí sinh rời phòng thi môn thi Toán tại Hội đồng thi Trường THPT Đào Duy Từ (TP Thanh Hóa).">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="571418">
 <a class="cms-link" href="https://giaoducthoidai.vn/de-toan-thi-vao-lop-10-thpt-o-thanh-hoa-duoc-phan-hoa-ro-tu-diem-6-tro-len-post571418.html" title="Đề Toán thi vào lớp 10 THPT ở Thanh Hóa được phân hóa rõ từ điểm 6 trở lên">
 Đề Toán thi vào lớp 10 THPT ở Thanh Hóa được phân hóa rõ từ điểm 6 trở lên
  
 </a>
 </h2> 
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/thanh-hoa-ket-thuc-ky-thi-vao-lop-10-thpt-nam-hoc-2022-2023-post580094.html" title="Thanh Hóa: Kết thúc kỳ thi vào lớp 10 THPT năm học 2022-2023">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/sbvunua/2022-06-18/7415afe2f6bd35e36cac.jpg" alt="Thí sinh rời phòng thi tại Hội đồng thi Trường THPT Đào Duy Từ (TP Thanh Hóa). ">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="580094">
 <a class="cms-link" href="https://giaoducthoidai.vn/thanh-hoa-ket-thuc-ky-thi-vao-lop-10-thpt-nam-hoc-2022-2023-post580094.html" title="Thanh Hóa: Kết thúc kỳ thi vào lớp 10 THPT năm học 2022-2023">
 Thanh Hóa: Kết thúc kỳ thi vào lớp 10 THPT năm học 2022-2023
  
 </a>
 </h2> 
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/can-tho-hinh-anh-ngay-dau-tien-to-chuc-tiem-ngua-cho-tre-mam-non-5-tuoi-post532284.html" title="Cần Thơ: Hình ảnh ngày đầu tiên tổ chức tiêm ngừa cho trẻ mầm non 5 tuổi">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/bzcwvobb/2022-06-10/dscf9436.jpg" alt="Ông Trần Thanh Bình, Giám đốc Sở GD&amp;ĐT TP Cần Thơ tặng bánh kẹo động viên trẻ sau tiêm ngừa.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="532284">
 <a class="cms-link" href="https://giaoducthoidai.vn/can-tho-hinh-anh-ngay-dau-tien-to-chuc-tiem-ngua-cho-tre-mam-non-5-tuoi-post532284.html" title="Cần Thơ: Hình ảnh ngày đầu tiên tổ chức tiêm ngừa cho trẻ mầm non 5 tuổi">
 Cần Thơ: Hình ảnh ngày đầu tiên tổ chức tiêm ngừa cho trẻ mầm non 5 tuổi
  
 </a>
 </h2> 
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/tuyen-duong-sinh-vien-tai-nang-the-thao-dat-thanh-tich-tai-sea-games-31-post544219.html" title="Tuyên dương sinh viên tài năng thể thao đạt thành tích tại SEA Games 31">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/uobunua/2022-06-10/dtr_3891.jpg" alt="PGS.TS Nguyễn Trúc Lê trao bằng khen cho các sinh viên đạt thành tích tại SEA Games 31.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="544219">
 <a class="cms-link" href="https://giaoducthoidai.vn/tuyen-duong-sinh-vien-tai-nang-the-thao-dat-thanh-tich-tai-sea-games-31-post544219.html" title="Tuyên dương sinh viên tài năng thể thao đạt thành tích tại SEA Games 31">
 Tuyên dương sinh viên tài năng thể thao đạt thành tích tại SEA Games 31
  
 </a>
 </h2> 
 </article>
  </div>
 </div>
 <div id="adsWeb_AdsRight3" class="banner clearfix" data-platform="1" data-position="Web_AdsRight3">
 
 </div>
 
 <div class="header-bg">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <span class="heading">Tin nổi bật</span>
 </h3>
 </div>
 <div class="box-content" data-source="zone-box-highlight-2">
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/truong-hoc-nhech-nhac-ngon-ngang-vi-tien-do-rua-bo-post591733.html" title="Trường học nhếch nhác, ngổn ngang vì tiến độ &quot;rùa bò&quot;">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/sbvunua/2022-06-15/tp1-cong-trinh-truong-tieu-hoc-tan-phuc-dang-bi-bo-do-dang1.jpg" alt="Công trình Trường Tiểu học Tân Phúc, huyện Lang Chánh, tỉnh Thanh Hóa đang bị bỏ dở dang.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="591733">
 <a class="cms-link" href="https://giaoducthoidai.vn/truong-hoc-nhech-nhac-ngon-ngang-vi-tien-do-rua-bo-post591733.html" title="Trường học nhếch nhác, ngổn ngang vì tiến độ &quot;rùa bò&quot;">
 Trường học nhếch nhác, ngổn ngang vì tiến độ &quot;rùa bò&quot;
  
 </a>
 </h2> 
 </article>
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/keo-tro-tro-lai-truong-post512146.html" title="Kéo trò trở lại trường">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/tmgtjq/2022-06-15/a-7-2.jpg" alt="Không để học sinh có hoàn cảnh khó khăn phải bỏ học. Ảnh minh họa">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="512146">
 <a class="cms-link" href="https://giaoducthoidai.vn/keo-tro-tro-lai-truong-post512146.html" title="Kéo trò trở lại trường">
 Kéo trò trở lại trường
  
 </a>
 </h2> 
 </article>
  
  
  <article class="story">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/dong-vien-can-bo-nha-giao-phat-huy-cao-tinh-than-trach-nhiem-khi-nhan-nhiem-vu-trong-ky-thi-tot-nghiep-thpt-2022-post507409.html" title="Động viên cán bộ nhà giáo phát huy cao tinh thần trách nhiệm khi nhận nhiệm vụ trong kỳ thi tốt nghiệp THPT 2022">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/200x134/Uploaded/2022/jbvunsc/2022-06-10/anh-minh-hoa-hoi-dong-thi.jpg" alt="Ảnh minh họa">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="507409">
 <a class="cms-link" href="https://giaoducthoidai.vn/dong-vien-can-bo-nha-giao-phat-huy-cao-tinh-than-trach-nhiem-khi-nhan-nhiem-vu-trong-ky-thi-tot-nghiep-thpt-2022-post507409.html" title="Động viên cán bộ nhà giáo phát huy cao tinh thần trách nhiệm khi nhận nhiệm vụ trong kỳ thi tốt nghiệp THPT 2022">
 Động viên cán bộ nhà giáo phát huy cao tinh thần trách nhiệm khi nhận nhiệm vụ trong kỳ thi tốt nghiệp THPT 2022
  
 </a>
 </h2> 
 </article>
  </div>
 </div>
 
 </div>
 </div> -->
 </div>
 
 
 </div>
 </div>
 <app-footer></app-footer>
 </div>
 

 </body>
 </html>
