

 <!DOCTYPE html>
 <html lang="vi">
 <head>
 <title>Báo Giáo dục và Thời đại Online</title>
 <link rel="stylesheet" href="body-trang-chu.component.css">
 <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css">
 </head>
 <body >
  <app-header></app-header>
 <div class="wrapper-page  section-homepage "> 
 
 <div class="site-body"> 
 <div class="container">
 
  <div class="hot-events">
 <a class="title" href="https://giaoducthoidai.vn/dong-su-kien.html" title="Sự kiện">Sự kiện</a>
 </div>
 
 
 
 <div class="abf-homepage">
 <div class="top-news">
 <div class="rank-1" data-source="home-highlight">
 <article class="story" *ngFor="let item of dataGiaoDuc;let h=index">
 
 
 <figure class="story__thumb" *ngIf="h<1">
 
 <a title="{{item.title}}" (click)="view2(item.title,item.content,item.day)">
  <img src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="603531" *ngIf="h<1">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  <i class="icon icon-img"></i>
 </a>
 </h2> 
 
 
 <time class="story__time" datetime="2022-08-07T19:29:38+0700" data-time="1659875378" *ngIf="h<1">
 
   {{item.time}}
 </time>
 
 
  <div class="story__summary" *ngIf="h<1">
 <p>{{item.description}}</p>
 </div>
 </article>
 </div>
 
 </div>
  <div class="blog-list">
 <div class="box-content" data-source="home-highlight">
 
 <article class="story" *ngFor="let item of dataThoiSu; let h=index">
 
 
 <figure class="story__thumb" *ngIf="h<6">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="603526" *ngIf="h<6">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h2> 
 </article>
  </div>
 </div>
 </div>
 
 <div class="col-wrapper zone">
 <div class="main-col">
 
 
 
 <div class="onemain-list">
 
 
 <div class="box-heading">
  <h2 class="wrap-heading">
 <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/bodybymenu/Thời sự']" (click)=" setActive('Thời sự')" title="Thời sự">
  Thời sự
 </a>
 </h2>
 </div> 
 
 <div class="box-content">
 <div class="rank-1" data-source="home-hot">
 <article class="story" *ngFor="let item of dataThoiSu; let h=index">
 
 
 <figure class="story__thumb" *ngIf="h<1">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="Ảnh minh họa.">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="603539" *ngIf="h<1">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h2> 
 
 
 <time class="story__time" datetime="2022-08-07T19:25:18+0700" data-time="1659875118" *ngIf="h<1">
 
   {{item.time}}
 </time>
 
 
  <div class="story__summary" *ngIf="h<1">
   {{item.description}}
 </div>
 </article>
 </div>

  <div class="rank-2" data-source="home-hot">
  <div *ngFor="let item of dataThoiSu; let h=index">
 <article class="story" *ngIf="h>5">
 
 
 <figure class="story__thumb">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h2 class="story__heading" data-tracking="603529">
 <a class="cms-link"(click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  <i class="icon icon-img"></i>
 </a>
 </h2> 
 
 
 <time class="story__time" datetime="2022-08-07T19:44:45+0700" data-time="1659876285">
 
   {{item.time}}
 </time>
 </article>
</div>
  </div>
 </div>
 </div>
 </div>
 <div class="sub-col">
 
  <div class="headline-list">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <p class="heading" title="Tin mới"><span class="icon icon-star"></span>Mới cập nhật</p>
 </h3>
 </div>
 <div class="box-content" data-source="latest-news">
   <div *ngFor="let item of dataTrangChu;let h=index">
  <article class="story"*ngIf="h<5">
 
 
  <h2 class="story__heading" data-tracking="603549">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h2> 
 </article>
</div>
  </div>
 </div>
 </div>
 </div>
 
  
  <div class="onemain-foursub">
 
 
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/bodybymenu/Giáo dục']" (click)=" setActive('Giáo dục')" title="Giáo dục ">
 Giáo dục 
 </a>
 </h3>
 </div>
 
 <div class="box-content">
 <div class="item-primary" data-source="zone-box-home-17">
 <article class="story" *ngFor="let item of dataGiaoDuc;let h=index">
 
 
 <figure class="story__thumb"*ngIf="h<1">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="602711"*ngIf="h<1">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T16:30:22+0700" data-time="1659864622"*ngIf="h<1">
 
   {{item.time}}
 </time>
 
 
  <div class="story__summary story__shorten"*ngIf="h<1">
   {{item.description}}
 </div>
 </article>
 </div>


  <div class="item-secondary" data-source="zone-box-home-17">
 
 <article class="story" *ngFor="let item of dataGiaoDuc;let h=index">
 
 
 <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603428"*ngIf="(h>1)&&(h<6)">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)">
   {{item.title}}
  
 </a>
 </h3> 
 </article>
  </div>
 </div>
 </div>
 
 
 
 
 
  <div class="onemain-foursub">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/bodybymenu/Trồng người']" (click)=" setActive('Trồng người')" title="Trồng người">
Trồng người
 </a>
 </h3>

 </div>
 
 <div class="box-content">
 <div class="item-primary" data-source="zone-box-home-8">
 <article class="story" *ngFor="let item of dataTrongNguoi;let h =index">
 
 
 <figure class="story__thumb"*ngIf="h<1">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}} ">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603532" *ngIf="h<1">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-07T17:02:38+0700" data-time="1659866558"*ngIf="h<1">
 
   {{item.time}}
 </time>
 
 
  <div class="story__summary story__shorten"*ngIf="h<1">
   {{item.description}}
 </div>
 </article>
 </div>
  <div class="item-secondary" data-source="zone-box-home-8">
 
 <article class="story" *ngFor="let item of dataTrongNguoi;let h =index">
 
 
 <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
 
 <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
  <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="603517"*ngIf="(h>1)&&(h<6)">
 <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
   {{item.title}}
  
 </a>
 </h3> 
 </article>
  </div>
 </div>
 </div>
 
 
 
   
  <div class="onemain-foursub">
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/bodybymenu/Bốn phương']"(click)=" setActive('Bốn phương')" title="Bốn phương">
 Bốn phương
 </a>
 </h3>
  
 </div>
 
 <div class="box-content">
 <div class="item-primary" data-source="zone-box-home-2">
   <article class="story" *ngFor="let item of dataBonPhuong;let h =index">
 
 
      <figure class="story__thumb"*ngIf="h<1">
      
      <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
       <img class="lazyload" src="{{item.image}}" alt="{{item.title}} ">
      
      
      </a>
      </figure>
      
      
       <h3 class="story__heading" data-tracking="603532" *ngIf="h<1">
      <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
        {{item.title}}
       
      </a>
      </h3> 
      
      
      <time class="story__time" datetime="2022-08-07T17:02:38+0700" data-time="1659866558"*ngIf="h<1">
      
        {{item.time}}
      </time>
      
      
       <div class="story__summary story__shorten"*ngIf="h<1">
        {{item.description}}
      </div>
      </article>
 </div>
  <div class="item-secondary" data-source="zone-box-home-2">
   <article class="story" *ngFor="let item of dataBonPhuong;let h =index">
 
 
      <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
      
      <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
       <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
      
      
      </a>
      </figure>
      
      
       <h3 class="story__heading" data-tracking="603517"*ngIf="(h>1)&&(h<6)">
      <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
        {{item.title}}
       
      </a>
      </h3> 
      </article>
  </div>
 </div>
 </div> 
  <div class="onemain-foursub">
 
 
 <div class="box-heading">
 <h3 class="wrap-heading">
 <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/bodybymenu/Văn hóa']"(click)=" setActive('Văn hóa')" title="Văn hóa">
Văn hóa
 </a>
 </h3>
 
 </div>
 
 <div class="box-content">
 <div class="item-primary" data-source="zone-box-home-5">
   <article class="story" *ngFor="let item of dataVanHoa;let h =index">
 
 
      <figure class="story__thumb"*ngIf="h<1">
      
      <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
       <img class="lazyload" src="{{item.image}}" alt="{{item.title}} ">
      
      
      </a>
      </figure>
      
      
       <h3 class="story__heading" data-tracking="603532" *ngIf="h<1">
      <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
        {{item.title}}
       
      </a>
      </h3> 
      
      
      <time class="story__time" datetime="2022-08-07T17:02:38+0700" data-time="1659866558"*ngIf="h<1">
      
        {{item.time}}
      </time>
      
      
       <div class="story__summary story__shorten"*ngIf="h<1">
        {{item.description}}
      </div>
      </article>
 </div>
  <div class="item-secondary" data-source="zone-box-home-5">
 
   <article class="story" *ngFor="let item of dataVanHoa;let h =index">
 
 
      <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
      
      <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
       <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
      
      
      </a>
      </figure>
      
      
       <h3 class="story__heading" data-tracking="603517"*ngIf="(h>1)&&(h<6)">
      <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
        {{item.title}}
       
      </a>
      </h3> 
      </article>
  </div>
 </div>
 </div>
 
 <div class="onemain-foursub">
 
 
   <div class="box-heading">
   <h3 class="wrap-heading">
   <a class="heading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
   [routerLink]="['/bodybymenu/Tinh hoa']" (click)=" setActive('Tinh hoa')" title="Tinh hoa">
  Tinh hoa
   </a>
   </h3>
   
   </div>
   
   <div class="box-content">
   <div class="item-primary" data-source="zone-box-home-5">
     <article class="story" *ngFor="let item of dataTinhHoa;let h =index">
   
   
        <figure class="story__thumb"*ngIf="h<1">
        
        <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
         <img class="lazyload" src="{{item.image}}" alt="{{item.title}} ">
        
        
        </a>
        </figure>
        
        
         <h3 class="story__heading" data-tracking="603532" *ngIf="h<1">
        <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
          {{item.title}}
         
        </a>
        </h3> 
        
        
        <time class="story__time" datetime="2022-08-07T17:02:38+0700" data-time="1659866558"*ngIf="h<1">
        
          {{item.time}}
        </time>
        
        
         <div class="story__summary story__shorten"*ngIf="h<1">
          {{item.description}}
        </div>
        </article>
   </div>
    <div class="item-secondary" data-source="zone-box-home-5">
   
     <article class="story" *ngFor="let item of dataTinhHoa;let h =index">
   
   
        <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
        
        <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
         <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
        
        
        </a>
        </figure>
        
        
         <h3 class="story__heading" data-tracking="603517"*ngIf="(h>1)&&(h<6)">
        <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
          {{item.title}}
         
        </a>
        </h3> 
        </article>
    </div>
   </div>
   </div>
   <div class="onemain-foursub">
 
 
      <div class="box-heading">
      <h3 class="wrap-heading">
      <a class="heading"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/bodybymenu/Giáo dục liêm chính']"(click)=" setActive('Giáo dục liêm chính')" title="Giáo dục liêm chính">
     Giáo dục liêm chính
      </a>
      </h3>
      
      </div>
      
      <div class="box-content">
      <div class="item-primary" data-source="zone-box-home-5">
        <article class="story" *ngFor="let item of dataGDLC;let h =index">
      
      
           <figure class="story__thumb"*ngIf="h<1">
           
           <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
            <img class="lazyload" src="{{item.image}}" alt="{{item.title}} ">
           
           
           </a>
           </figure>
           
           
            <h3 class="story__heading" data-tracking="603532" *ngIf="h<1">
           <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
             {{item.title}}
            
           </a>
           </h3> 
           
           
           <time class="story__time" datetime="2022-08-07T17:02:38+0700" data-time="1659866558"*ngIf="h<1">
           
             {{item.time}}
           </time>
           
           
            <div class="story__summary story__shorten"*ngIf="h<1">
             {{item.description}}
           </div>
           </article>
      </div>
       <div class="item-secondary" data-source="zone-box-home-5">
      
        <article class="story" *ngFor="let item of dataGDLC;let h =index">
      
      
           <figure class="story__thumb" *ngIf="(h>1)&&(h<6)">
           
           <a (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
            <img class="lazyload" src="{{item.image}}" alt="{{item.title}}">
           
           
           </a>
           </figure>
           
           
            <h3 class="story__heading" data-tracking="603517"*ngIf="(h>1)&&(h<6)">
           <a class="cms-link" (click)="view2(item.title,item.content,item.day)" title="{{item.title}}">
             {{item.title}}
            
           </a>
           </h3> 
           </article>
       </div>
      </div>
      </div>
 
  <div class="cate-list">
 
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Giáo dục']" title="Giáo dục"(click)=" setActive('Giáo dục')" >Giáo dục </a>
 
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Thời sự']" title="Thời sự"(click)=" setActive('Thời sự')">Thời sự</a>
    
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Trồng người']"(click)=" setActive('Trồng người')"title="Trồng người">Trồng người</a>
    
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Bốn phương']"(click)=" setActive('Bốn phương')" title="Bốn phương">Bốn phương</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Văn hóa']" (click)=" setActive('Văn hóa')" title="Văn hóa">Văn hóa</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/bodybymenu/Tinh hoa']" (click)=" setActive('Tinh hoa')"title="Tinh hoa">Tinh hoa</a>


  </div>
 
 </div>
 </div>
 <app-footer></app-footer>
 </div>
 </body>
 </html>
 