<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title> -->
  <link rel="stylesheet" href="footer.component.css">
<!-- </head>
<body> -->
<footer class="page-footer">
  <div class="container">
    <div class="non-tab">
      <h2>
        <a href="https://giaoducthoidai.vn" class="logo-footer" title="Báo Giáo dục và Thời đại Online">Báo Giáo dục và Thời đại Online</a>
      </h2>
      <h3 class="title">
        BÁO GIÁO DỤC &amp; THỜI ĐẠI
      </h3>
    </div>
    <div class="item-priamry">
      <p class="bold">
        CƠ QUAN CỦA BỘ GIÁO DỤC VÀ ĐÀO TẠO - DIỄN ĐÀN TOÀN XÃ HỘI VÌ SỰ NGHIỆP GIÁO DỤC
      </p>
      <p>Cơ quan chủ quản: BỘ GIÁO DỤC VÀ ĐÀO TẠO</p>
      <p>
        Số giấy phép 479/GP-BTTTT, cấp ngày 29/10/2020, ISSN 1859-2945.
      </p>
      <p>
        Tổng Biên tập: Triệu Ngọc Lâm.
      </p>
      <p>
        Phó Tổng Biên tập: Dương Thanh Hương
      </p>
      <p>
        ® Ghi rõ nguồn “Báo Giáo dục &amp; Thời đại” khi phát hành lại thông tin từ website.
      </p>
    </div>
    <div class="item-secondary">
      <h3 class="title bold">
        TRỤ SỞ CHÍNH
      </h3>
      <div class="contact">
        Tòa soạn: 15 - Hai Bà Trưng - Q.Hoàn Kiếm - Hà Nội.<br>
        Điện thoại: <a href="tel:+842439369800">024 3936 9800</a> <br>
        Email : <a href="mailto:gdtddientu@gmail.com">gdtddientu@gmail.com</a></div>
      <h3 class="title bold">
        LIÊN HỆ QUẢNG CÁO, TRUYỀN THÔNG VÀ ĐẶT BÁO
      </h3>
      <p>Phòng Truyền thông và Dự án</p>
      <p class="phone">
        Hotline: <a href="tel:+842439365230">024 393 65230</a> - <a href="tel:+842439348327">024 393 48327</a> - <a href="tel:+84903297580">090 329 7580</a>
      </p>
    </div>
  </div>
</footer>
<!-- </body>
</html> -->
