.page-footer {
    background-color: #c31e40;
    padding: 38px 0 35px;
  }
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  footer {
    display: block;
  }
  body {
    font-size: 16px;
  }
  body {
    margin: 0;
    font-family: GoogleSans;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4e4e4e;
    text-align: left;
    background-color: #fff;
  }
  .page-footer .container {
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 1170px!important;
    max-width: 1170px!important;
    padding: 0 12px;
  }
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .page-footer .non-tab {
    min-width: 250px;
  }
  div {
    display: block;
  }
  .page-footer .logo-footer {
    margin-top: 20px;
    font-size: 0;
    width: 190px;
    height: 85px;
    display: block;
    background: url(https://static.giaoducthoidai.vn/v1/web/styles/img/logo-footer.png) top center/190px no-repeat;
  }
  .page-footer .contact, .page-footer .phone, .page-footer a, .page-footer p {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 3px;
  }
  a {
    transition: all .1s ease-in-out;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.43;
    color: inherit;
  }
  .page-footer .non-tab .title {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    margin-top: 20px;
  }
  .page-footer .item-priamry {
    max-width: 452px;
  }
  .page-footer .item-priamry p {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
  }
  .page-footer .bold {
    font-weight: 600;
  }
  .page-footer .contact, .page-footer .phone, .page-footer a, .page-footer p {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .page-footer .item-secondary .title {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    margin-bottom: 7px;
  }
  .page-footer .contact {
    margin-bottom: 19px;
  }
  .page-footer .contact, .page-footer .phone, .page-footer a, .page-footer p {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 3px;
  }
  