

 <!DOCTYPE html>
 <html lang="vi">
 <head>
 
 
  
 <title>Báo Giáo dục và Thời đại Online</title>
 <link rel="stylesheet" href="https://static.giaoducthoidai.vn/v1/web/styles/css/main.min-1.1.1.css">

 </head>
 <body >
    <app-header></app-header>
 <div class="wrapper-page  search-page "> 
 
 
 <div class="site-body"> 
 <div class="container">
 <div class="col-wrapper">
 <div class="main-col content-col">
 <div class="search-wrapper">
 <div class="input-search">
 <input type="text" class="txtsearch2" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
 <span class="icon icon-search btn_search2"></span>
 </div>
 <p class="result">
 <span>83308</span> kết quả phù hợp
 </p>
 </div>
  <div class="many-pack content-list">
 
   <article class="story" data-id="604138">
 
 
 <figure class="story__thumb">
 
 <a href="https://giaoducthoidai.vn/truong-dh-ngoai-ngu-dh-da-nang-trao-bang-tot-nghiep-dot-1-nam-2022-post604138.html" title="Trường ĐH Ngoại ngữ (ĐH Đà Nẵng) trao bằng tốt nghiệp đợt 1 năm 2022">
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://photo-cms-giaoducthoidai.zadn.vn/350x234/Uploaded/2022/tmuing/2022_08_12/img7313-6103.jpg" alt="Đại diện Ban giám hiệu Trường ĐH Ngoại ngữ, ĐH Đà Nẵng trao bằng tốt nghiệp đợt 1 cho sinh viên">
 
 
 </a>
 </figure>
 
 
  <h3 class="story__heading" data-tracking="604138">
 <a class="cms-link" href="https://giaoducthoidai.vn/truong-dh-ngoai-ngu-dh-da-nang-trao-bang-tot-nghiep-dot-1-nam-2022-post604138.html" title="Trường ĐH Ngoại ngữ (ĐH Đà Nẵng) trao bằng tốt nghiệp đợt 1 năm 2022">
 Trường ĐH Ngoại ngữ (ĐH Đà Nẵng) trao bằng tốt nghiệp đợt 1 năm 2022
  
 </a>
 </h3> 
 
 
 <time class="story__time" datetime="2022-08-12T19:31:02+0700" data-time="1660307462">
  <span class="icon icon-clock"></span>
 12/08/2022 19:31
 </time>
 
 
  <div class="story__summary story__shorten">
 GD&amp;TĐ - Ngày 12/8, Trường ĐH Ngoại ngữ - ĐH Đà Nẵng đã tổ chức Lễ phát bằng tốt nghiệp đại học đợt 1 năm 2022 cho 749 tân cử nhân, tân tiến sĩ.
 </div>
 </article>
  
  
 
 </div>
 <button type="button" class="load-more control__loadmore" data-page="1" data-type="search"
 data-zone="0" data-phrase="d">
 Xem thêm
 </button>
 </div>
 <div class="sub-col sidebar-right">
 
 </div>
 </div>
 
 
 </div>
 </div>
 
 <app-footer></app-footer>
 
 </div>

 </body>
 </html>